body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 60%);
  height: 100vh;
  z-index: 10000;
}



.btn-submit {
  float: right; /* Mueve el botón Submit a la derecha */
  background-color:#FF7F50;
}

.text-info{
  color: #FF7F50 !important;
}

.dropdown-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 0;
  width: 200px;
}

.dropdown-item {
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login h3 {
  margin: 0;
  flex: 1;
}

#login .text-center{
  color: #FF7F50 !important;
}

#login > .text-white{
  font-size: 120px;
  margin-left: 90px ;
  margin-right: 0;
  padding-right: 0;
  }

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }

#login-box {
    max-width: 100px; /* Ajusta el ancho del formulario según sea necesario */
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-bottom: 60px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }

#login-box #login-form {
    width: 100%;
  }

#login-box #login-form .form-group {
    width: 100%;
    margin-bottom: 15px;
  }

#login-box #login-form .form-group:last-child {
    margin-bottom: 0;
  }

#register-link {
    float: left; /* Mueve el enlace "Register here" a la izquierda */
  }

    















