body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: white;
}

div{
    text-align:center;
}

a{
color: #FF7F50;
}

.texto {
    text-align: center;
    vertical-align: middle; /* Centrar verticalmente */
}

.card-header{
text-align: center;
font-size: 50px;
font-weight: 500;
color: #FF7F50;
background-color: transparent;
border-bottom: transparent;
}

.card{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: auto;
    width: 60%;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
   
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.opcionesRegistro{

display: flex;
justify-content: space-between;
}

.btn{
background-color: #FF7F50;
border-color: #FF7F50;
}

.textoTicket{
    font-weight: bold;
  }

